{% load static %}	

<!-- Listing Single v5 Home Area -->
	<div class="home10-mainslider">
		<div class="container-fluid p0">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-banner-wrapper home10">
					    <div class="banner-style-one owl-theme owl-carousel">
						{% for rs in slider %}
					        <div class="slide slide-one" style="background-image: url({{rs.image.url}});height: 600px;"></div>
						{% endfor %}
						</div>
					    <div class="carousel-btn-block banner-carousel-btn">
					        <span class="carousel-btn left-btn"><i class="flaticon-left-arrow-1 left"></i></span>
					        <span class="carousel-btn right-btn"><i class="flaticon-right-arrow right"></i></span>
					    </div><!-- /.carousel-btn-block banner-carousel-btn -->
					</div><!-- /.main-banner-wrapper -->
				</div>
			</div>
		</div>
	</div>

	<!-- Listing Single Property -->
	<section class="listing-title-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-xl-8">
					<div class="single_property_title mt30-767">
					</div>
				</div>				
			</div>
		</div>
	</section>

	<!-- Listing Single Property -->
	<section class="listing-title-area p0">
		<div class="container-fluid">
				<div class="col-lg-12 col-xl-12">
					<div class="single_property_title mt30-767">
						<h2>Mrdia Gallery</h2>
					</div>
				</div>	
			<div class="row">
				<div class="col-lg-12 p0">
					<div class="listing_single_property_slider">
						{% for rs in media %}					
						<div class="item">
							<img class="img-fluid" src="{{rs.image.url}}" alt="{{rs.id}}">
						</div>
						{% endfor %}						
					</div>
				</div>
			</div>
		</div>
	</section>

