{% load static %}	

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
        {% for rs in slider %}
      <div class="carousel-item {% if forloop.first %}active{% endif %} ">
        <img src="{{rs.image.url}}" style="height: 650px;" class="d-block w-100" alt="...">
        
      </div>
      {% endfor %}
      

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Crousel End-->
  <br>


  {% for rs in about %}
  <section class="about my-5" id="about">
	<div class="container">
		<div class="text-center">
		<h1>About<span class="text-primary"> Project</span></h1>
		<hr class="w-25 m-auto">
		<div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6 col-12">
					 <h1 class="h1 my-5">Welcome To <span class="text-primary">{{rs.title}}</span></h1>
						 <p class="p-2">
							{{rs.description | safe}}
						 </p>
						 <br>
					

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
						  <h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  Mission
							</button>
						  </h2>
						  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
							  <p>{{rs.mission | safe}}</p>
							</div>
						  </div>
						</div>
						<div class="accordion-item">
						  <h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Vision
							</button>
						  </h2>
						  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>{{rs.vision | safe}}</p>

							</div>
						  </div>
						</div>
						<div class="accordion-item">
						  <h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Values
							</button>
						  </h2>
						  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p>{{rs.values | safe}}</p>

							</div>
						  </div>
						</div>
					  </div>

					  <br><br>
					  <button type="button" class="btn btn-light text-left">
						<a href="{% url "aboutus" %}"><h5 style="text-emphasis-color: none;">More About This Project</h5></a>
					</button>
					<br>
				   

					</div>
					 <div class="col-sm-12 col-md-6 col-lg-6 col-12">
						<img src="{{rs.image.url}}" style="height: 800px;" alt="" class="w-100 p-5">
				</div>
			</div>
		</div>
	</div>
</section>
{% endfor %}
	


	<!-- Listing Single Property -->
	<section class="listing-title-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-xl-8">
					<div class="single_property_title mt30-767">
					</div>
				</div>				
			</div>
		</div>
	</section>